<h1 class="page-header">Anmeldung abgeschlossen <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h1>
<div class="row">
  <div class="col-sm-8">
    <progressbar value="100" class="progress-striped success">Fertig</progressbar>  
    <br />
  </div>  
</div>
<div class="row">
  <div class="col-sm-8">
    <p>Vielen Dank für Ihre Anmeldung. Sie können Ihre Anmeldung abschließen, indem Sie die Startgebühr von <strong>{{confirmation_price}}</strong> auf folgendes Konto überweisen. Als Verwendungszweck verwenden Sie bitte die unten genannte Identifikationsnummer.</p>        
    <code>Zahlungsempfänger:  TRI Sport Wurzen e.V. <br />
    Volks- und Raiffeisenbank Muldental e.G.<br />
    IBAN: DE50 8609 5484 5100 0037 50<br />
    BIC:  GENODEF1GMV<br />
    Verwendungszweck: {{confirmation_id}}</code>
    <br /><br /><p>Mit freundlichen Grüßen,<br /><br />
    Ihr Ringelnatzlauf-Team</p><br /><br />
    <p>Sie bekommen diesen Text ebenfalls per E-Mail zugeschickt.</p>
  </div>
</div>